<!--<header>
    <div class="container">
      <a routerLink="/" class="logo"> {{  appTitle }}</a>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact us</a></li>
        </ul>
      </nav>
    </div>
  </header>-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="#">Sound To Color Experiment</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="/about">About<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" routerLink="/contact">Contact<span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>